html {
    background-color: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #ffff
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h3 {
    background-color: #e3e3e3;
}

p {
    line-height: 1.5em;
}

header {
    background-color: #e3e3e3;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

.blog h2 {
    position: relative;
}

#blog {
    border-top: 2px dotted #e3e3e3;
    display: flex;
    gap: 50px;
}

#blog img{
    background-size: cover;
    background-position: bottom;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.blog-post {
    border-bottom: 2px dotted #e3e3e3;
    padding: 10px;
    margin: 10px;
}

.blog-post:nth-of-type(1){
    flex: 500px;
}

.blog-post:nth-of-type(2){
    flex: 500px;
}

.blog-post table {
    background-color: #e3e3e3;
    border-radius: 10px;
    margin-bottom: 25px;
}

