html {
    background-color: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #ffff
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 8px;
}

h2 {
    background-color: #b5d3a8;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

h3 {
    background-color: #e3e3e3;
    padding: 5px;
}

p {
    line-height: 1.5em;
}

header {
    background-color: #e3e3e3;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

.blog h2 {
    position: relative;
}


#blog {
    border-top: 2px dotted #e3e3e3;
    display: flex;
    gap: 50px;
}

#blog img{
    background-size: cover;
    background-position: bottom;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.blog-post {
    border-bottom: 2px dotted #e3e3e3;
    padding: 10px;
    margin: 10px;
}

.blog-post:nth-of-type(1){
    flex: 500px;
}

.blog-post:nth-of-type(2){
    flex: 500px;
}

.blog-post table {
    background-color: #e3e3e3;
    border-radius: 10px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
  border: 1px solid #b5d3a8;
}

button {
    background-color: #b5d3a8;
    color: white;
    font-size: small;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

main p {
    flex:
}

.author a {
    color: #b5d3a8;
}

time {
    background-color: #b5d3a8;
    color: white;
    font-style: italic;
    font-size: small;
    padding: 1px;
}